{% extends "network/layout.html" %}

{% block body %}

  <script>

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
  }
  

    function submitHandler(id){
      const textareaValue= document.getElementById(`textarea_${id}`).value 
      const content= document.getElementById(`content_${id}`);
      const modal = document.getElementById(`modal_edit_post_${id}`);
      console.log(textareaValue)
      fetch(`/edit/${id}`, {
        method:"POST",
        headers:{"Content-type":"application/json", "X-CSRFToken":getCookie("csrftoken")},
        body:JSON.stringify({
          content:textareaValue 
        })
      })
      .then(response => response.json())

      .then(result=> {
        content.innerHTML = result.data;
        modal.classList.remove('show');
        modal.setAttribute('aria-hidden', 'true');
        modal.setAttribute('style', 'display: none');

            // get modal backdrops
        const modalsBackdrops = document.getElementsByClassName('modal-backdrop');

        // remove every modal backdrop
        for(let i=0; i<modalsBackdrops.length; i++) {
        document.body.removeChild(modalsBackdrops[i]);
            }
        })
    }

  </script>


    <div class="container mx-auto">
        <div class="row d-flex justify-content-center">
            <h2 class="col-4">Followers: {{ followers.count }}</h2>
            <h2 class="col-4">Following: {{ following.count }}</h2>
            
            {% if user.is_authenticated %}
                {% if user != user_profile %}
                    {% if isFollowing %}
                        <form action="{% url 'unfollow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ user_profile }}">
                            <input type="submit" value="Unfollow" class="btn btn-secondary">
                        </form>
                    {% else %}
                        <form action="{% url 'follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="userfollow" value="{{ user_profile }}">
                            <input type="submit" value="Follow" class="btn btn-light">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>

    <h3 class="mx-5">{{ username }}</h3>

    <div class="all-post mx-5 my-3">
        {% for post in posts_of_the_page %}
        <div class="card text-bg-dark mb-3" style="max-width: 30rem;">
            <div class="card-header">@{{ post.user }}--------{{ post.date }}</div>
            <div class="card-body">
                <p class="card-text" id="content_{{ post.id }}">{{ post.content }}</p>
            </div>

            {% if user.is_authenticated %}
                {% if user == post.user %}
                  <div class="d-flex justify-contet-around mx-2 mb-2"> 
                    <button class="btn btn-light ml-3" data-bs-toggle="modal" data-bs-target="#modal_edit_post_{{ post.id }}"> Edit </button>
                  </div>

                    <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" aria-labelledby="modal_edit_post_{{ post.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Geek</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <textarea rows="5" id="textarea_{{ post.id }}" class="forms-control"  name="content">
                                      {{post.content}}
                                    </textarea>
                                </div> 
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="submitHandler({{ post.id }})">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center mu-5">
            {% if posts_of_the_page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if posts_of_the_page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts_of_the_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
